.flex-container {
  display: flex;
  width: 600px;
  height: 700px;
  background: rgb(250, 250, 220);
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 100px;
  height: 100px;
  color: aliceblue;
}

#box1 {
  background: rebeccapurple;
}

#box2 {
  background: teal;
}

#box3 {
  background: tan;
}

#box4 {
  background: yellowgreen;
}

#box5 {
  background: orangered;
}
